[submodule "backend"]
	path = backend
	url = https://github.com/kal997/ai-travel-itinerary-generator-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/kal997/ai-travel-itinerary-generator-frontend
